# Build
out/
dist/
*.vsix

# Dependencies
node_modules/

# Test
.vscode-test/
coverage/
.mocha-cache

# Local configuration
.env
.vscode/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo